.title {
    width: 83%;
    margin: 0 auto;
    margin-top: 2rem;

}

.container {
    width: 83%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;


}

.flex-container {

    width: 21rem;
    height: 16rem;
  
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(149deg, rgb(25, 34, 71) 0%, rgb(33, 14, 23) 96.86%);
  

}


p{
    color: rgba(255, 255, 255, 0.7);
}

.svg {
    display: flex;
    justify-content: end;
}


/* For Mobile Devices */

@media(max-width:400px) {

    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
     
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    /* styles between 600px and 1024px */

    .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .flex-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 182px;

    }

}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {    
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 12px;
        margin-bottom: 1rem;
    }

    .flex-container {
        width: 426px;
        display: flex;
        justify-content: center;
        
        height: 210px;

       
    }
     
}