.accordion{
    width: 83%;
    margin: 0 auto;
    margin-top: 3rem;
}
.listContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 1rem;
}

.accordionLink{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(45, 45, 45);
    color: rgb(255,255,255);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}
.accordionLink{
    list-style: none;
}
.accContent{
    width: 100%;
    left: 10px;
    height: max-content;
    font-size: 1.5rem;
    color: rgb(255,255,255);
    margin-top: 10px;
}
.container_content{
    padding: 20px;
    background-color: rgb(45, 45, 45);
    width: 100%;
    margin-top: 1px;
}
.contentBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;

}
.toggleIcon{
    height: 35px;
    width: 35px;
}

@media (min-width:360px) and (max-width : 430px) {


    .accordion-Item {
        width: 100%;
        margin: 10px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        background-color: rgb(45, 45, 45);
        color: rgb(255, 255, 255);
        margin-left: 0px;


    }

    #ContentAcc {
        font-size: 17px;
        margin: 0;
        margin-bottom: 5px;
        height: max-content;
        margin: 0;

    }

    #Content {
        padding: 0px;

        background-color: rgb(45, 45, 45);

    }
}
@media (min-width : 540px) and (max-width:720px) {
    .accordion-Item {
        width: 100%;
        margin: 10px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        background-color: rgb(45, 45, 45);
        color: rgb(255, 255, 255);
        margin-left: 0px;


    }

    #ContentAcc {
        font-size: 17px;
        margin: 0;
        margin-bottom: 5px;
        height: max-content;
        margin: 0;

    }

    #Content {
        padding: 0px;

        background-color: rgb(45, 45, 45);

    }
}
@media (min-width : 768px) and (max-width:1024px) {

    .accordion-Item {
        width: 100%;
        margin: 10px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
        background-color: rgb(45, 45, 45);
        color: rgb(255, 255, 255);
        margin-left: 0px;


    }

    #ContentAcc {
        font-size: 17px;
        margin: 0;
        margin-bottom: 5px;
        height: max-content;
        margin: 0;

    }

    #Content {
        padding: 0px;

        background-color: rgb(45, 45, 45);

    }
}
