.slider {
  width: 100%;
  background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
  /* margin-top: 2rem; */

}

.slider-container {
  width: 83%;
  margin: 0 auto;
  /* height: auto; */
  padding-top: 1rem;

}

/* .curvedLine{
    position:absolute;
    z-index: -1;
    margin-top: -.25rem;
    border: solid .4rem transparent;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);;
    width: 100%;
    height: .8rem;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    margin-top: 7rem;
     */
/* }    */




.image-slider {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 1rem;


}

.imageTrack {
  /* display: flex;  */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: none;
  width: max-content;


}

.imageTrack::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.carouselImage {
  margin: 20px 0 20px 0;
  /* height: 100%;   */
  border-radius: 10px;
  /* width: max-content;   */
  width: 100%;
  height: 100%;
  padding-right: 30px;
  /* overflow-x: hidden; */
  /* border: 2px solid white;  */
}




@media (max-width : 768px){
  .slider{
    margin-top: 0rem;
  }

  .image-slider{
    margin-top: 0.10rem;
  }
  h2{
    font-size: 1.3rem;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {

 .slider-container{
  height: 100%,
 } /* styles between 600px and 1024px */
}
