.slider {
  width: 100%;
  background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
}

.slider-container {
  width: 83%;
  margin: 0 auto;
}

.sliderHead {
  padding-top: 1rem;
}

.image-slider {
  width: 83%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 50px;
  overflow-x: auto;
  margin-bottom: 5rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-width: none;
  padding: 10px;
}

.carouselImage {
  list-style: none;
  scroll-snap-align: start;
}

.img {
  border-radius: 0.5rem;
  height: 250px;
  width: 180px;
  cursor: pointer;
  z-index: 1;
}


.carouselImage:hover .number::before {
  transform: scale(1.08);
  transition: 0.4s ease transform;
}

.carouselImage:hover {
  transform: scale(1.08);
  transition: 0.4s ease transform;
}
.sliderContained {
  position: relative;
  height: 274px;
}

.leftSlider {
  position: absolute;
  height: 90%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
    width: 140px;
}

.leftButton {
  width: 24px;
  height: 120px;
  border-radius: .5rem;
  background: #FFFFFF1A;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  z-index: 1;
}
.rightButton {
  width: 24px;
  height: 120px;
  border-radius: .5rem;
  background: #FFFFFF1A;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.rightSlider {
  position: absolute;
  height: 90%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 140px;
  z-index: 1;

}
.number{
  width: 100%;
  height: max-content;
  position: relative;
  z-index: 1;

}
.number::before{
  content: attr(datatype);
  position: absolute;
  z-index: 1;
  bottom: 0;
  font-size: 6rem;
  color: black;
  -webkit-text-stroke: 1px white;
  font-weight: 700;
  overflow: hidden;
  margin-left: -20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}


@media (max-width : 768px) {
  .slider {
    margin-top: 0rem;
  }

  .image-slider {
    margin-top: 0.10rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {

  .slider-container {
    height: 100%,
  }

  /* styles between 600px and 1024px */
}
