.slider {
  width: 100%;
  background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
  margin-bottom: 4rem;
}
.slider-container {
  margin: 0 auto;
}
.sliderContained{
  padding: 0px 25px;
}
.sliderHead {
  padding-top: 1rem;
}
.image-slider {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 50px;
  overflow-x: auto;
  margin-bottom: 5rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-width: none;
  padding: 10px ;
}
.carouselImage {
  list-style: none;
  scroll-snap-align: start;
}
.img {
  border-radius: 0.5rem;
  height: 15.625rem;
  width: 11.25rem;
  cursor: pointer;
  z-index: 1;
}
.carouselImage:hover .number::before {
  transform: scale(1.08);
  transition: 0.4s ease transform;
}
.carouselImage:hover {
  transform: scale(1.08);
  transition: 0.4s ease transform;
}
.sliderContained {
  position: relative;
  height: 274px;
}

.leftSlider {
  position: absolute;
  height: 90%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  transition: 0.5s ease-in all;
}

.leftButton {
  width: 24px;
  height: 120px;
  border-radius: .5rem;
  background: #FFFFFF1A;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  z-index: 1;
}
.rightButton {
  width: 24px;
  height: 120px;
  border-radius: .5rem;
  background: #FFFFFF1A;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.rightSlider {
  position: absolute;
  height: 90%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;

}
.number{
  width: 100%;
  height: max-content;
  position: relative;
  z-index: 1;

}
.number::before{
  content: attr(datatype);
  position: absolute;
  z-index: 1;
  bottom: 0;
  font-size: 6rem;
  color: black;
  -webkit-text-stroke: 1px white;
  font-weight: 700;
  overflow: hidden;
  margin-left: -20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}


@media (max-width:767px) {
  .slider {
    margin-top: 0rem;
  }
  .image-slider{
    gap: 30px;
    align-items: center;
  }
  h2 {
    font-size: 1.3rem;
  }
  .leftSlider{
    width:2rem;
     padding-bottom: 30px;
  }
  .rightSlider{
    width: 2rem;
    padding-bottom: 30px;
  }
  .img {
  border-radius: 0.5rem;
  height: 11.625rem;
  width: 8.25rem;
  cursor: pointer;
  z-index: 1;
}
}

@media (min-width: 768px) and (max-width: 1024px) {

  .slider-container {
    height: 100%,
  }
  .leftSlider{
    width:3rem;
  }
  .rightSlider{
    width: 3rem;
  }

.image-slider{
    gap: 30px;
    align-items: center;
  }

}
